/***
** Title: Bob's Computer Repair Shop
** Author:  Professor Krasso
** Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
** Date: April 15 2021
** Description: API - Sprint 1
 ***/

 /* This is the security question list style sheet */
.security{
  padding-top: 5rem;

}

.security-title{
  font-weight: lighter;
}

.security-questions{
  padding-top: 2rem;
  font-weight: lighter;
}

.questions{
  background-color: transparent;
}

.createButton{
  text-align: center;
  background-color: transparent;
  border: 0;
  margin-right: 7rem;
}

.tableSecurity{
  text-align: left;
  background-color: white;
  size: 20rem;
}
table{
  margin: 20px auto 80px auto;
}
.mat-button{
  background: black;
    color: white;
    margin: 15px auto 0;
}
