/*
 ============================================
; Title:  error.component.css
; Author: Professor Krasso
; Date: 26 April 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: error page styling, Sprint 2
;===========================================
**/

/* This is the style sheet for the Error component. */
/* Center element */
.center {text-align: center;}
.error-badger {

}

/*image styling*/
.error-badger img{
  width: 300px;
  max-width: 80%;
  margin: 40px auto;
}
/* header*/
h2{
  font-size: 32px;
  margin-top: 40px;
}
/* Main container */
.error-text-box{
  width: 550px;
  max-width: 100%;
  margin: 40px auto;
}
.mat-raised-button{
  margin: 60px 0 80px 0 !important;
  display: inline-block;
}
/* subtitle under each team member bio header*/
.tiny{
  font-size: 12px;
}
