/*
 ============================================
; Title:  not-found.component.css
; Author: Professor Krasso
; Date: 26 April 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: not-found page styling, Sprint 2
;===========================================
**/


.center {text-align: center;}
.not-found-badger {

}
.not-found-badger img{
  width: 250px;
  max-width: 80%;
  margin: 30px auto 10px;
}
h2{
  font-size: 32px;
  margin-top: 10px;
}
.not-found-text-box{
  width: 550px;
  margin: 40px auto;
}
.mat-raised-button{
  margin: 60px 0 20px 0 !important;
  display: inline-block;
}
.tiny{
  font-size: 12px;
}
