<!---
 ============================================
; Title:  not-found.component.html
; Author: Professor Krasso
; Date: 25 April 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: not found html file
;===========================================
-->

<div fxLayout="column" fxLayoutAlign="center center" class="not-found-wrapper">

  <div fxFlex class="not-found-text-box">

    <h2 class="center">Well, this is awkward!</h2>
    <p class="not-found-badger center"><img src="./assets/images/badger.jpg" alt="Credit shutterstock" title="Credit shutterstock"></p>
    <p class="center tiny">Photo Credit: shutterstock</p>
    <h2>We couldn't find what you are looking for.</h2>
    <p class="small-text">Error code 404.</p>
    <p class="reg-text">We couldn't find the page or resource you were looking for.</p>
    <p class="reg-text">If you need immediate help or to report this issue, please give us a call @: (652) 789-9874, make sure to mention the error code.</p>
    <p class="center"><a mat-raised-button color="primary" href="/" >Return home</a></p>


  </div>
</div>
