/*
 ============================================
; Title:  role-details.component.css
; Author: Professor Krasso
; Date: 7 May 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: role details style
; Sprint - 3
;===========================================
**/


.container{
  width: 600px;
  max-width: 95%;
  margin: 65px auto 100px;
}
