/*
 ============================================
; Title:  user-list.component.css
; Author: Professor Krasso
; Date: 19 April 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: user-list component styling
;===========================================
**/

.userList{
  padding-top: 3rem;

}


.userList-title{
  font-weight: lighter;
}

.usersTable{
  background-color: transparent;
  margin-left: 3rem;
}

.text{
  padding-right: 3rem;
}
