.userList{
  padding-top: 3rem;

}


.userList-title{
  font-weight: lighter;
}

.usersTable{
  background-color: transparent;
  margin-left: 3rem;
}

.text{
  padding-right: 3rem;
}
.mat-card-content table{
  background-color: white;
}
table{
  margin: 40px auto;
}
.mat-button{
  background: black;
    color: white;
    margin: 15px auto 0;
}
