/***
** Title: Bob's Computer Repair Shop
** Author:  Professor Krasso
** Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
** Date: April 15 2021
** Description: User List - Sprint 1
 ***/


 /* This sets the styling for the User List component. */
.userList{
  padding-top: 3rem;

}
/* Header */
.userList-title{
  font-weight: lighter;
}
/* table styling */
.usersTable{
  background-color: transparent;
  margin-left: 3rem;
}
table{
  margin: 40px auto;
}

.text{
  padding-right: 3rem;
}
.mat-card-content table{
  background-color: white;
}
/* button */
.mat-button{
  background: black;
    color: white;
    margin: 15px auto 0;
}
