<div fxLayout="column">

  <mat-card class="mat-elevation-z8">
    <mat-card-title> Create User Role</mat-card-title> <br />

    <form [formGroup]="form" ngSubmit="create()" #roleForm>

      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <mat-label>Role Name</mat-label>
            <input matInput
                  [formControl]="form.controls['text']"
                  placeholder="Role" />
          </mat-form-field>
        </div>
      <br />

      <br />
        <mat-card-actions align="end">
          <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
          <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="create()">Create</button>
        </mat-card-actions>

      </mat-card-content>
    </form>
  </mat-card>
</div>
