<!---
 ============================================
; Title:  role-list.component.html
; Author: Professor Krasso
; Date: 3 May 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: Roles List View - Sprint 3
;===========================================
-->


<!-- The div for the role configuration -->
<div fxLayout="column"  fxLayoutAlign="center" class="container">

  <mat-card-title>Role Configuration</mat-card-title>
<!-- Create role button once clicked the button will be routed to the creation of role -->
  <button class="createButton" mat-button routerLink="/roles/create/new">
    <mat-icon>addition</mat-icon>
    Add New Role
  </button>
  <br /> <br />
  <mat-card>


    <!-- It gets all the roles array and findAllRoles API is called -->
    <mat-card-content *ngIf="roles">

      <table mat-table [dataSource]="roles">
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <!-- The element will loop over the text array values -->
          <td mat-cell *matCellDef="let element"> {{element.text}} </td>
        </ng-container>
        <!-- Functions column where users can edit and delete each item -->
        <ng-container matColumnDef="functions">
          <th mat-header-cell *matHeaderCellDef class="functions">Functions</th>
          <td mat-cell *matCellDef="let element" class="functions">
            <button mat-icon-button routerLink='/roles/{{element._id}}'>
              <mat-icon color="accent">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(element._id, element.text)">
              <mat-icon color="accent">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <!-- This is how we can display the row and columns of all the data -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </mat-card-content>
  </mat-card>
</div>
