/*
 ============================================
; Title:  role-list.component.css
; Author: Professor Krasso
; Date: 3 May 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: styling for roles - Sprint 3
;===========================================
**/

/* Container styling */
.container{
  width: 600px;
  max-width: 95%;
  margin: 65px auto 100px;
}

table{
  width: 90%;
  margin: 20px auto;
}
.mat-card-title{
  margin: 15px auto !important;
  text-align: center;
}
.functions{
  text-align: center;
}

/* Create button */
.createButton{
  text-align: center;
  background-color: transparent;
  border: 0;
  margin-right: 7rem;
  align-content: center;
}

/* Button */
.mat-button{
  background: black;
    color: white;
    margin: 15px auto 0;
}
