<!---
 ============================================
; Title:  security-question-details.component.html
; Author: Professor Krasso
; Date: 25 April 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: security question details html file
;===========================================
-->

<!--SQ update / edit Page -->

<div fxLayout="column" fxLayoutAlign="center center" class="updateSecurityQuestions" fxFill>

  <mat-card class="mat-elevation-z8">
    <mat-card-title>Security Question Details</mat-card-title>

<!-- This formGroup allows the specified security question text to be changed. -->
    <form [formGroup]="form" (ngSubmit)="saveQuestion()" #questionForm>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <input type="text" matInput [formControl]="form.controls['text']" placeholder="Question text" (keydown.enter)="saveQuestion()"/>
          </mat-form-field>
        </div>
      </mat-card-content>

<!-- The user can choose to save the edit or return to the security questions list. -->
      <mat-card-actions align="end">
        <button mat-raised-button (click)="cancel()" color="warn"> Cancel </button>
        <button type="submit" mat-raised-button color="accent"> Submit </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
