/*
 ============================================
; Title:  home.component.css
; Author: Professor Krasso
; Date: 26 April 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: home page styling, Sprint 2
;===========================================
**/


.main-welcome {
    margin-top: 30px;
  }

  .title {
    text-align: center;
    font-weight: lighter;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
  }
  body {
    background: white;
  }
