<!---
 ============================================
; Title:  Home Summary
; Author: Professor Krasso
; Date: 3 May 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: Home html file
;===========================================
-->

<!-- Page heading -->
<div fxLayout="column" class="main-welcome">
  <h1 class="title"> Welcome to Bob's Computer Repair Shop <br />
      <span class="subtitle">We offer the following services, repairs and upgrades:</span>
  </h1>
</div>
<!-- Page Content -->
<div fxLayout="column" fxLayoutAlign="center center">
  <!-- Page form -->
  <form #serviceRepairForm="ngForm" (ngSubmit)="submit(serviceRepairForm.value); serviceRepairForm.reset();" class="service-form">
    <div fxLayout="row">
      <mat-card>
        <mat-card-content>
          <!-- The services are created by iterating over the services and filling a css grid with 4 items per row. -->
          <div class="grid-container" style="display: grid; grid-gap: 20px; grid-template-columns: auto auto auto auto; padding: 20px">
              <div ngModelGroup="checkGroup" *ngFor="let service of services; let i = index">
                <mat-card class="service-card">
                  <mat-card-title>{{service.title}} <span class="material-icons">{{service.icon}}</span></mat-card-title>
                  <hr>
                  <mat-card-subtitle>{{service.salesPitch}}</mat-card-subtitle>
                  <br>
                  <mat-card-content>
                    <div fxLayoutAlign="center center">
                      <mat-checkbox name="{{service.id}}" ngModel>
                        ({{service.price | currency}})
                      </mat-checkbox>
                    </div>
                  </mat-card-content>
                </mat-card>
              <br />
            </div>
          </div>
          <!-- The parts and labor fees can be entered in this area of the form. -->
          <div fxLayout="column" fxLayoutAlign="center center">
            <h4 fxFlex>Standard Fees</h4>
            <mat-form-field fxFlex style="width: 300px !important;">
              <input matInput
              name="parts"
              ngModel="0"
              placeholder="Parts ($)" />
            </mat-form-field>

            <mat-form-field fxFlex style="width: 300px !important;">
              <input matInput
                    name="labor"
                    ngModel="0"
                    placeholder="Number of hours @ $50.00/hr" />
            </mat-form-field>
          </div>
          <!-- The Check Out button launches an invoice summary dialogue for the user. -->
          <div class="column" fxLayoutAlign="center center">
            <button mat-button class="service-order-button"  (click)="submit">
              <span>Check Out<mat-icon class="checkout-icon">shopping_cart</mat-icon></span>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>
