<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z0">
    <mat-card-title>Log In</mat-card-title>
    <mat-card-subtitle><a routerLink="/registration" class="login-link" fxLayoutAlign="end">New User?</a></mat-card-subtitle>
    <mat-card-content>
      <!-- <mat-card class="mat-elevation-z8" fxLayout="column" fxLayoutGap="10"> -->
        <!-- <ng-container *ngIf="errorMessage">
          {{ errorMessage }}
        </ng-container> -->
        <form>
          <mat-card-content fxLayout="column">
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput>
            </mat-form-field>

            <!-- <mat-error >

            </mat-error> -->
          </mat-card-content>
          <mat-card-actions align="end">
            <button type="submit" fxFlex mat-raised-button  color="primary">Submit</button>
          </mat-card-actions>
        </form>
        <a routerLink="/resetpassword" class="login-link" fxLayoutAlign="end">Forgot your password?</a>
      <!-- </mat-card> -->
    </mat-card-content>
  </mat-card>
</div>

