/* .signInContainer{
  padding: 10px;
} */

.mat-card{
  background-color: #f9c02d !important;
  width: 550px;
  padding: 40px 20px;
  max-width: 80%;
  margin: 40px auto;
}
input{
  width: 100%;
}

button{
  background-color: #6a4f4b !important;
  color: #fbc02d !important;
  width: 50%;
}

button:hover{
  background-color: #3e2723 !important;
}

.login-link:hover {
  text-decoration: underline;
  color: gainsboro !important;
}

.login-link:visited {
  text-decoration: underline;
  color: darkgray !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
 }
.mat-input-element{
  padding: 8px 0;
}
a.login-link,
.mat-card-subtitle a {
  color: rgba(0,0,0,1) !important;
}

