<!---
 ============================================
; Title:  purchasesByServiceGraph.component.html
; Author: Professor Krasso
; Date: 30 April 2021
; Modified by: Jonathan Roland, Nicole Barleta, Wendy Leon
; Description: The html page for the chart
; Sprint - 3
;===========================================
-->

<h1 style='font-weight: lighter; text-align: center;'>Purchases By Service</h1>
<!-- This is where the chart goes -->
<div class="chart-container">
  <p-chart type='pie' [data]='data' width='500' height='500'></p-chart>
</div>

