<div fxLayout="column">
  <mat-card class="mat-elevation-z8">
    <mat-card-title> Create Security Questions</mat-card-title>

    <form [formGroup]="form" (ngSubmit)="create()" #securityQuestionForm>
      <mat-card-content>
        <div fxLayout="column" fxLayout="10px">
          <mat-form-field>
            <input type="text" matInput [formControl]="form.controls['text']"
            placeholder="Secret question text" (keydown.enter)="create()" />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button (click)="cancel()" color="warm">Cancel</button>
        <button type="submit" mat-raised-button color="accent"> Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
